# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# ==========================
# MyST
# ==========================
_build/
.myst/

# ==========================
# Excel
# ==========================
*.xlsx
*.xls
*.xlsm

# ==========================
# Sistema
# ==========================
.DS_Store
Thumbs.db

# ==========================
# VS Code
# ==========================
.vscode/